page-login {
  .content {
    color: color($colors, primary);
    text-transform: uppercase;

    .scroll-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 0 !important;

      .title {
        color: color($colors, primary);
        text-transform: uppercase;
        font-size: 50px;
        margin: 0;
      }

      .logo {
        font-size: 75px;
        color: color($colors, primary);
      }

      .menu-button {
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 0;
      }

      .item-wp {
        background: transparent;
        padding: 0;

        .item-inner {
          padding: 0;
        }

        .text-input-wp {
          margin-right: 0;
          border: 1px solid color($colors, primary);
          width: 100%;
          color: color($colors, primary);
          height: 40px;
        }

        .input-wp.error .text-input-wp {
          border-color: color($colors, danger);
          color: color($colors, danger);
        }

        .label-wp {
          margin-right: 0;
          color: #2ecc71;
          text-transform: uppercase;
        }

        .label-wp.error {
          color: color($colors, danger);
        }

        .item-button {
          height: 50px;
          color: white;
          text-transform: uppercase;
          border-color: color($colors, primary);
          font-size: 2rem;
        }
      }

      .list-wp {
        margin: 0;
        width: 100%;
      }
    }
  }
}
