<!--
  Generated template for the PetProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{pet.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-avatar class="avatar">
        <img src="{{pet.photo}}" class="photo">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nom</ion-label>
      <ion-input type="text" [(ngModel)]="pet.name" readOnly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Identifiant du médaillon</ion-label>
      <ion-input type="text" [(ngModel)]="pet.IBeaconId" readOnly></ion-input>
    </ion-item>
    <ion-item *ngIf="!pet.lost">
      <button ion-button block color="primary" (click)='lostPetAction()' class="menu-button">J'ai perdu {{pet.name}}</button>
    </ion-item>
    <ion-item *ngIf="pet.lost">
      <button ion-button block color="primary" (click)='lostPetAction()' class="menu-button">Il est de retour !</button>
    </ion-item>
    <ion-item>
      <button ion-button block color="danger" (click)='deletePet()' class="menu-button">Supprimer l'animal</button>
    </ion-item>
  </ion-list>
</ion-content>
